.accordion-body {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
  &.active {
    height: auto;
    .content{
      opacity: 1;
    }
  }
  .content{
    text-align: justify;
    opacity: 0;
    transition: all 1s;
  }
}